.description {
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding-left: 30px;
    margin-bottom: 5px; /* Memberikan jarak antara setiap deskripsi */
    margin-left: 80px;
    margin-right: 80px;
}

#section1, #section2, #section3, #section4, #section5 {
    font-size: larger;
    background-color: rgba(41, 12, 12, 0.849);
    color: rgb(104, 32, 32);   
    padding-left: 30px;
    margin-bottom: -5px;
    margin-left: 80px;
    margin-right: 80px;
}